* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav1,
.nav2 {
    margin: 20px;
}

.search {
    background-image: url(./images/search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 20%;
    height: 5vh;
    margin-right: 690px;
    border: none;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
}

.search:focus {
    outline: none;
}

.btn {
    height: 6vh;
    width: 16%;
    border: none;
    margin-right: 10px;
    background-color: rgb(14, 138, 138);
    color: white;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: solid rgb(14, 138, 138);
    box-shadow: 8px 6px 10px rgb(10, 116, 116);
}

.cb {
    display: inline;
    box-shadow: 2px 2px 10px gray;
    font-size: 13px;
    padding: 10px 5px;
    border-radius: 5px;
}

.Category {
    width: 27%;
    height: 5vh;
    margin-right: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
    color: gray;
}

table {
    margin: 30px 20px 0px 20px;
    width: 95vw;
    height: 66vh;
    border-radius: 20px;
    text-align: center;
}

.tr1 {
    height: 8vh;
    color: white;
    background-color: rgb(14, 138, 138);
}

td>img {
    width: 35%;
    height: 8vh;
    padding: 10px;
}

button {
    width: 80%;
    height: 4vh;
    /* margin: 20px; */
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgb(14, 138, 138), white, rgb(14, 138, 138))
}

button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px rgb(10, 116, 116);
}

span {
    color: rgb(14, 138, 138);
}

.img {
    width: 20%;
    height: 7vh;
}

.shopping {
    width: 50%;
    height: 5vh;
}

.eye {
    height: 6vh;
    width: 30%;
}

.bold {
    font-weight: bold;
}

.clr {
    color: gray;
}

h2 {
    padding: 16.5px;
    color: white;
    text-align: center;
    color: gray;
    /* background-color: rgb(23, 22, 22); */
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(14, 138, 138);
    text-decoration: none;
}